<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>LOGIN</title>
    <style>
     #msgbox1 { 
        position:fixed;
        border: solid 1px black;
		background-color: rgb(225, 225, 225);
        box-sizing:border-box;
        width:20em;
        /* padding: 5px; */
        }
        #msgbox1 label{
            display: block;
            padding: 12px;
            font-size: 20px;
        }
        #msgbox1 button{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            border: 1px solid black;
            background-color: #fff;
            padding: 3px;
            font-size: 14px;
            color: black;
            border-radius: 5px;
        }
        .unselected {
            border-bottom: 1px solid black;
            background-color: #fff;
        }
        .selected {
            border: none;
            background-color: rgb(225,225,225);
        }
    </style>
</head>
<div id="msgbox1">
    <ul id="nav">
        <li id="login" style="border-right: 1px solid black;" class="selected" onclick="tologin()">登录</li>
        <li id="reg" class="unselected" onclick="toreg()">注册</li>
    </ul>
    <form action="/login" method="post">
        <label for="user">username:<input type="text" name="username"></label>
        <label for="pwd">password:<input type="password" name="pwd"></label>
        <label style="padding-left: 40px; display:none;" for="sex">
            性别：
            <select style="text-align: center; width:170px;" name="sex" id="sex">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </label>
        <label style="padding-left: 40px; display:none;" for="salary">
            工资：
            <input type="number" name="salary" id="salary">
        </label>
        <button id="button" type="submit">登录</button>
        <!-- <a href="/reg">注册</a> -->
    </form>
</div>  
<script>
    var login = document.getElementById("login");
    var reg = document.getElementById("reg");
    var button = document.getElementById("button");
    var sexlabel = document.querySelector("label[for='sex']");
    var salarylabel = document.querySelector("label[for='salary']");
    function tologin(){
        const hasPhoneInput = document.querySelector('input[name="phone"]');
        login.classList.add('selected');
        login.classList.remove('unselected');
        reg.classList.remove('selected');
        reg.classList.add('unselected');
        if(hasPhoneInput){
            hasPhoneInput.parentNode.parentNode.removeChild(hasPhoneInput.parentNode);
        }
        button.innerText = "登录";
        button.parentNode.action = "/login";
        sexlabel.style.display = "none";
        salarylabel.style.display = "none";
    }
    function toreg(){
        const hasPhoneInput = document.querySelector('input[name="phone"]');
        reg.classList.add('selected');
        reg.classList.remove('unselected');
        login.classList.remove('selected');
        login.classList.add('unselected');
        if(!hasPhoneInput){
            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'phone';
            const label = document.createElement('label');
            const labelText = document.createTextNode('电话号码：');
            label.appendChild(labelText);
            label.appendChild(input);
            document.querySelector('input[name="pwd"]').parentNode.parentNode.insertBefore(label,document.querySelector('input[name="pwd"]').parentNode.nextSibling);
        }
        button.innerText = "注册";
        button.parentNode.action = "/reg";
        sexlabel.style.display = "block";
        salarylabel.style.display = "block";

    }
    function pos(){
        var msgbox=document.getElementById("msgbox1");
        msgbox.style.left = (document.documentElement.clientWidth/2-msgbox.clientWidth/2)+"px"
        msgbox.style.top = (document.documentElement.clientHeight/2-msgbox.clientHeight/2)+"px"
    }
    pos();                   //用于一显示就定位
    window.onresize=pos;     //用于窗口变化时自动定位
</script>
</html>